Title: 

URL Source: https://codepen.io/amit_sheen/pen/yyNJoWE/2d67b2719cf96e5dc137e7b403504ac9.css

Published Time: Fri, 06 Jun 2025 10:17:48 GMT

Markdown Content:
*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  display: grid;
  gap: 4em;
  padding: 4em 1em;
  counter-reset: num1 num2 num3;
}

.full-adder {
  display: flex;
  align-items: center;
  gap: 0.5em;
  
  p {
    padding-inline: 3em;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font: inherit;
    display: grid;
    place-items: center;
    width: 3em; height: 3em;
    background-color: #333;
    color: #aaa;
    border-radius: 4px;
    border: 2px solid #fff;

    &::after {
      content: var(--content, '0');
      font-size: 2em;
    }
    
    &:checked {
      --content: '1';
      background-color: limegreen;
      border-color: green;
      color: #333;    
    }
    
    &:hover {
      opacity: 0.8;
    }
  }
  
  output {
    --on: 0;
    
    display: grid;
    place-items: center;
    width: 3em; height: 3em;
    background-color: hotpink;
    color: maroon;
    border-radius: 50%;
    border: 2px solid maroon;
    counter-reset: content var(--on, 0);
    filter: grayscale(calc(1 - var(--on))) invert(calc(1 - var(--on)));

    &::after {
      content: counter(content);
      font-size: 2em;
    }
  }
}

.full-adder:has([data-digit="1"]:checked):has([data-digit="1"]:not(:checked)) .sum1 {
  --on: 1;
}

.full-adder:has([data-digit="1"]:checked ~ [data-digit="1"]:checked) {
  --_and1: 1;
}

.full-adder:has([data-digit="2"]:checked):has([data-digit="2"]:not(:checked)) {
  --_xor2: 1;
}

.full-adder .sum2 {
  --on: calc(mod(var(--_and1, 0) + var(--_xor2, 0), 2));
}

.full-adder:has([data-digit="2"]:checked ~ [data-digit="2"]:checked) {
  --_and2: 1;
}

.full-adder:has([data-digit="3"]:checked):has([data-digit="3"]:not(:checked)) {
  --_xor3: 1;
}

.full-adder .sum3 {
  --on: calc(mod(var(--_and2, 0) + var(--_xor3, 0), 2));
}

.full-adder:has([data-digit="3"]:checked ~ [data-digit="3"]:checked) {
  --_and3: 1;
}

.full-adder:has([data-digit="4"]:checked):has([data-digit="4"]:not(:checked)) {
  --_xor4: 1;
}

.full-adder .sum4 {
  --on: calc(mod(var(--_and3, 0) + var(--_xor4, 0), 2));
}

.full-adder:has([data-digit="4"]:checked ~ [data-digit="4"]:checked) {
  --_and4: 1;
}

.full-adder:has([data-digit="5"]:checked):has([data-digit="5"]:not(:checked)) {
  --_xor5: 1;
}

.full-adder .sum5 {
  --on: calc(mod(var(--_and4, 0) + var(--_xor5, 0), 2));
}


.full-adder:has([data-digit="5"]:checked ~ [data-digit="5"]:checked) {
  --_and5: 1;
}

.full-adder .carry {
  --_and6: calc(var(--_and4, 0) * var(--_xor5, 0));
  --on: max(var(--_and5, 0), var(--_and6, 0));
}
