Title: 

URL Source: https://codepen.io/amit_sheen/pen/PwqzjVr/5b490fd9eec4a2c6f70b26e13b2476e2.css

Published Time: Tue, 03 Jun 2025 02:07:44 GMT

Markdown Content:
*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  display: grid;
  gap: 4em;
  padding: 4em 1em;
}

.gate {
  display: flex;
  align-items: center;
  gap: 4em;
  
  .inputs {
    display: grid;
    gap: 0.25em;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font: inherit;
    display: grid;
    place-items: center;
    width: 3em; height: 3em;
    background-color: #333;
    color: #aaa;
    border-radius: 4px;
    border: 2px solid #fff;

    &::after {
      content: var(--content, '0');
      font-size: 2em;
    }
    
    &:checked {
      --content: '1';
      background-color: limegreen;
      border-color: green;
      color: #333;    
    }
    
    &:hover {
      opacity: 0.8;
    }
  }
  
  output {
    --on: 0;
    
    display: grid;
    place-items: center;
    width: 3em; height: 3em;
    background-color: hotpink;
    color: maroon;
    border-radius: 50%;
    border: 2px solid maroon;
    counter-reset: content var(--on, 0);
    filter: grayscale(calc(1 - var(--on))) invert(calc(1 - var(--on)));

    &::after {
      content: counter(content);
      font-size: 2em;
    }
  }
}

.icon {
  width: 6em; height: 3em;

  [data-type="buffer"] & {
    background:
      conic-gradient(from 245deg at 100% 50%, transparent 0, white 1deg 50deg, transparent 51deg) 50% 50% / 40% 80% no-repeat,
      linear-gradient(to right, red, white 50%) 0 50% / 40% 4px no-repeat,
      linear-gradient(to right, white 50%, green) 100% 50% / 40% 4px no-repeat;
  }
  [data-type="not"] & {
    background:
      radial-gradient(circle at 70% 50%, black 0.3em, white 0.4em 0.6em, transparent 0.7em),
      conic-gradient(from 245deg at 100% 50%, transparent 0, white 1deg 50deg, transparent 51deg) 50% 50% / 40% 80% no-repeat,
      linear-gradient(to right, limegreen, white 50%) 0 50% / 40% 0.25em no-repeat,
      linear-gradient(to right, white 50%, hotpink) 100% 50% / 40% 0.25em no-repeat;
  }
  [data-type="or"] & {
    background:
      linear-gradient(to right, limegreen, white 50%) 0 30% / 40% 0.25em no-repeat,
      linear-gradient(to right, limegreen, white 50%) 0 70% / 40% 0.25em no-repeat,
      linear-gradient(to right, white 50%, hotpink) 100% 50% / 40% 4px no-repeat,
      radial-gradient(at left, black 65%, transparent 69%) 27% 50% / 10% 80% no-repeat,
      radial-gradient(at left, white 66%, transparent 68%) 45% 50% / 40% 80% no-repeat;
  }
  [data-type="and"] & {
    background:
      linear-gradient(to right, limegreen, white 50%) 0 30% / 40% 0.25em no-repeat,
      linear-gradient(to right, limegreen, white 50%) 0 70% / 40% 0.25em no-repeat,
      linear-gradient(to right, white 50%, hotpink) 100% 50% / 40% 4px no-repeat,
      radial-gradient(at left, white 66%, transparent 68%) 45% 50% / 40% 80% no-repeat;
  }
  [data-type="nor"] & {
    background:
      radial-gradient(circle at 70% 50%, black 0.3em, white 0.4em 0.6em, transparent 0.7em),
      linear-gradient(to right, limegreen, white 50%) 0 30% / 40% 0.25em no-repeat,
      linear-gradient(to right, limegreen, white 50%) 0 70% / 40% 0.25em no-repeat,
      linear-gradient(to right, white 50%, hotpink) 100% 50% / 40% 4px no-repeat,
      radial-gradient(at left, black 65%, transparent 69%) 27% 50% / 10% 80% no-repeat,
      radial-gradient(at left, white 66%, transparent 68%) 45% 50% / 40% 80% no-repeat;
  }
  [data-type="nand"] & {
    background:
      radial-gradient(circle at 70% 50%, black 0.3em, white 0.4em 0.6em, transparent 0.7em),
      linear-gradient(to right, limegreen, white 50%) 0 30% / 40% 0.25em no-repeat,
      linear-gradient(to right, limegreen, white 50%) 0 70% / 40% 0.25em no-repeat,
      linear-gradient(to right, white 50%, hotpink) 100% 50% / 40% 4px no-repeat,
      radial-gradient(at left, white 66%, transparent 68%) 45% 50% / 40% 80% no-repeat;
  }
  [data-type="xor"] & {
    background:
      linear-gradient(to right, limegreen, white 50%) 0 30% / 40% 0.25em no-repeat,
      linear-gradient(to right, limegreen, white 50%) 0 70% / 40% 0.25em no-repeat,
      linear-gradient(to right, white 50%, hotpink) 100% 50% / 40% 4px no-repeat,
      radial-gradient(at left, black 65%, transparent 69%) 20% 50% / 10% 80% no-repeat,
      radial-gradient(at left, white 65%, transparent 69%) 23% 50% / 10% 80% no-repeat,
      radial-gradient(at left, black 65%, transparent 69%) 27% 50% / 10% 80% no-repeat,
      radial-gradient(at left, white 66%, transparent 68%) 45% 50% / 40% 80% no-repeat;
  }
  [data-type="xnor"] & {
    background:
      radial-gradient(circle at 70% 50%, black 0.3em, white 0.4em 0.6em, transparent 0.7em),
      linear-gradient(to right, limegreen, white 50%) 0 30% / 40% 0.25em no-repeat,
      linear-gradient(to right, limegreen, white 50%) 0 70% / 40% 0.25em no-repeat,
      linear-gradient(to right, white 50%, hotpink) 100% 50% / 40% 4px no-repeat,
      radial-gradient(at left, black 65%, transparent 69%) 20% 50% / 10% 80% no-repeat,
      radial-gradient(at left, white 65%, transparent 69%) 23% 50% / 10% 80% no-repeat,
      radial-gradient(at left, black 65%, transparent 69%) 27% 50% / 10% 80% no-repeat,
      radial-gradient(at left, white 66%, transparent 68%) 45% 50% / 40% 80% no-repeat;
  }
}

/* LOGIC */

[data-type="not"] .inputs:not(:has(input:checked)) ~ output,

[data-type="and"] .inputs:has(input:checked + input:checked) ~ output,

[data-type="or"] .inputs:has(input:checked) ~ output,

[data-type="nand"] .inputs:not(:has(input:checked + input:checked)) ~ output,

[data-type="nor"] .inputs:not(:has(input:checked)) ~ output,

[data-type="xor"] .inputs:has(input:checked):has(input:not(:checked)) ~ output,

[data-type="xnor"] .inputs:not(:has(input:checked):has(input:not(:checked))) ~ output {
  --on: 1;
}
